body ,button{
  font-family: 'Jomolhari', serif;
  background-color: #7986CB;
  color: #263238;
}
h1,h3 ,button{
  color: #fff;
  font-weight: 800;
}
#main{
  width: 80%;
  margin: 40px auto 40px;
}
h1{
  font-size: 40px;
}
img{
  width: 100%;
  height: auto;
}
h1,h3,p{
  text-align: center;
}
button{
  margin: 80px auto 100px;
  display: block;
  font-size: 20px;
  border: none;
  padding: 14px 54px;
  background-color: #222;
  border-radius: 5px;
}
button:hover{
  opacity: 0.5;
  transform: scale(2);
  transition: ease 2s;
}
